# Please do not use this ignore file to define platform specific files.
#
# For these purposes create a global .gitignore file, which is a list of rules
# for ignoring files in every Git repository on your computer.
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

/node_modules
/public/storage
/vendor

.scannerwork

.env
.env.testing
/.env.tmp
/docker-compose.test.env
/docker-compose.env
.idea
auth.json

/tests/src/Support/_generated/*
.DS_Store
